{% extends 'base.html' %}

 {% load humanize %}


 {% block title %} | Browse Property Listings {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Properties</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
           {% for listing in listings %}

           <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city}}
                      {{ listing.state }},  {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}</div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i>Bathrooms: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ listing.realtor}}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ listing.list_date  }}    </div>
                  </div>
                  <hr>
                  <a href="{% url 'listing'  listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
    

           {% endfor %}
        {% else %}
           <div class="col-md-12">
           <p> No Listings Available</p>
          </div>
        {% endif %}

        
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- check if there are other pages -->
          {% if listings.has_other_pages %}
          <ul class="pagination">
             <!-- check if there are previous pages -->
             {% if listings.has_previous %}
               <li class="page-item">
                 <!-- check if there is previous page number, then put a left-facing arrow to go there -->
                 <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
               </li>
               {% else %}
               <!-- Else if there are No previous pages set a class of disabled  list-->
                <li class="page-item disabled">
                  <!-- Set up a disabled arrow -->
                  <a class="page-link">&laquo;</a>
                  </li>
             {% endif %}
             <!-- Then Loop through the page range using paginator  -->
             {% for i in listings.paginator.page_range %}
              <!-- Check if  listing.number == index -->
               {% if listings.number == i %}
               <!-- Set up a class of active-->
                <li class="page-item active"> 
                   <!-- Set up an index page link -->
                    <a class="page-link">{{i}}</a>
                </li>
                 {% else %}
                  <!-- Else Set up an page item, no active -->
                     <li class="page-item">   
                       <!-- Then list whatever the value of i is -->
                       <a href="?page={{i}}" class="page-link">{{i}}</a>
                     </li>
                     <!-- End if  listing.number == index -->
                  {% endif %}
                  <!-- End Loop through the page range using paginator  -->
             {% endfor %}

              <!-- If listing has next -->
             {% if listings.has_next %}
              <!-- Display next page number -->
               <li class="page-item">
                  <!-- Display next page number with right arrow-->
                 <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
               </li>
               {% else %}
                <!--  Else Display page item DIsABLED right arrow-->
                <li class="page-item disabled">
                   <!--  Show DIsABLED right arrow-->
                  <a class="page-link">&raquo;</a>
                  </li>
                  <!-- End check if there are previous pages -->
             {% endif %}
          </ul>
          <!-- End check if there are other pages -->
          {% endif %}
        </div>
      </div>
    </div>
  </section>


{% endblock %}